<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759709715838-ghu0uucisga3m58ln56brh01fd3f0pd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759709715838-ghu0uucisga3m58ln56brh01fd3f0pd5</string>
	<key>API_KEY</key>
	<string>AIzaSyCgqAg3I8Atj425D5vnXJVDv-mZYViY3mU</string>
	<key>GCM_SENDER_ID</key>
	<string>759709715838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.mkishor.chatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterchatapp-785bc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatapp-785bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759709715838:ios:f6baa36e4ce853df9eb72f</string>
</dict>
</plist>